.admin {
  padding: 9rem 0.3rem;
  &__btn{
    position: absolute;
    top: 9rem;
    left: 50%;
    transform: translateX(-50%);
    &:hover{
      border-color: var(--color-primary-variant);
    }
  }
}
.MuiTypography-root {
  color: black;
}

.MuiTableCell-root {
  background: #fff;
  &:hover {
    background: #fff;
  }
}

.MuiFormLabel-root {
  color: black;
  & span {
    color: black;
  }
}

.MuiTableSortLabel-root {
  & span {
    color: black;
  }
}

.RaAppBar-toolbar {
  margin-top: 5rem;
}

.admin {
  & .css-c1bgk0-RaLogin-root {
    background: none;
    margin-top: 3rem;
    background-image: none;
  }
  & .css-1bz6oir {
    background-image: none;
    background: #fff;
  }
  & input{
    width: 50rem;
  }
  & .MuiButtonBase-root{
    & span{
      font-weight: bold;
    }
  }
  & .css-ycxhju {
    background-color: none;
  }
  & .css-1uodbwk-MuiScopedCssBaseline-root{
    background-color: none;
  }
  & body {
    background-color: none;
  }
}

.css-1vgntmk-RaLayout-root {
  background-color: none;
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  margin-top: 3rem;
  padding-bottom: 0;
  height: 100%;
}


@media screen and (max-width: 1024px) {
  .admin{
    & input{
      width: 35rem;
    }
  }

  
}
@media screen and (max-width: 600px) {
  .admin{
    & input{
      width: 19rem;
    }
    & .css-1vgntmk-RaLayout-root {
      margin-top: 5rem;
    }
  }
}
