.admin {
  padding: 9rem 6rem;
}

.MuiTypography-root {
  color: black;
}

.MuiTableCell-root {
  background: #fff;
}

.MuiTableCell-root:hover {
  background: #fff;
}

.MuiFormLabel-root {
  color: black;
}

.MuiFormLabel-root span {
  color: black;
}

.MuiTableSortLabel-root span {
  color: black;
}

.RaAppBar-toolbar {
  margin-top: 5rem;
}

.admin {
  background: #fff;
}

.admin .css-c1bgk0-RaLogin-root {
  background: #fff;
  background-image: none;
}

Admin .css-c1bgk0-RaLogin-root {
  background: #fff;
  background-image: none;
}
