.admin {
  padding: 9rem 0.3rem;
}

.MuiTypography-root {
  color: black;
}

.MuiTableCell-root {
  background: #fff;
}

.MuiTableCell-root:hover {
  background: #fff;
}

.MuiFormLabel-root {
  color: black;
}

.MuiFormLabel-root span {
  color: black;
}

.MuiTableSortLabel-root span {
  color: black;
}

.RaAppBar-toolbar {
  margin-top: 5rem;
}

.admin {
  background: #fff;
}

.admin .css-c1bgk0-RaLogin-root {
  background: #fff;
}

.admin .css-1bz6oir {
  background-image: none;
  background: #fff;
}

.admin input {
  width: 50rem;
}

@media screen and (max-width: 1024px) {
  .admin input {
    width: 35rem;
  }
}

@media screen and (max-width: 600px) {
  .admin input {
    width: 19rem;
  }
}
