.admin {
  padding: 9rem 6rem;
  height: 100%;
}
.MuiTypography-root {
  color: black;
}

.MuiTableCell-root {
  background: #fff;
  &:hover {
    background: #fff;
  }
}

.MuiFormLabel-root {
  color: black;
  & span {
    color: black;
  }
}

.MuiTableSortLabel-root {
  & span {
    color: black;
  }
}

.MuiPaper-root {
  margin-top: 5rem;
  width: 100%;
}

@media screen and (max-width: 1024px) {
    .Ralist-main {
        width: 100% !important;
      }
    .admin{
        width: 75%;
    }

    .RaList-main{
        width: 100%;
    }

}

@media screen and (max-width: 600px) {
    .RaList-main{
        width: 75%;
    }
}