.container.contact__container {
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
    padding-bottom: 5rem;
}
.contact{
    &__title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;
        & h2, h5 {
            text-align: center;
            color: #c3dfde;
            margin-bottom: 1rem;
        }
    }
    &__options{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }
    &__option{
        background: var(--color-bg-variant);
        padding: 1.2rem;
        border-radius: 1.2rem;
        text-align: center;
        border: 1px solid transparent;
        transition: var(--transition);
        &:hover{
            background: transparent;
            border-color: var(--color-primary-variant);
        }
        & a {
            margin-top: 0.7rem;
            font-size: 0.8rem;
            display: inline-block;
        }
        & h4 {
            margin-bottom: 0.3rem;
        }
        &-icon{
            font-size: 1.5rem;
            color: #fff;
            margin-bottom: 0.5rem;
        }
    }
    &__form{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
        margin-bottom: 8rem;
        & input, textarea {
            width: 100%;
            padding: 1.5rem;
            border-radius: 0.5rem;
            background: transparent;
            border: 2px solid var(--color-primary-variant);
            resize: none;
            color: #fff;
        }
    }
}


@media screen and (max-width: 1024px) {
    .container.contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    // .contact{
    //     &__options{
    //         margin-bottom: 10rem;
    //     }
    // }
  }
  
  
  /* ====== MEDIA QUERIES (SMALL DEVICES) ==== */
  
  @media screen and (max-width: 600px) {
    .container.contact__container {
       width: var(--container-width-sm);
    }
  }